.card{
    margin: auto;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    width: fit-content;
    padding: 0 20px 10px 20px;
    min-width: 300px;
    border-style: inset;
    border-width: 2px;
    color: black;

    font-family: 'Josefin Sans', sans-serif;
}

.weatherList{
    list-style: none;
    width: fit-content;
    margin:0;
    margin-top: 1.3em;
    padding:0;
}

.weatherList li{
    width: fit-content;
    margin-top: 0.7em;
}

.weatherList li a{
    color:#282c34;
    text-decoration: none;
    transition: 0.13s;
}
.weatherList li a:hover{
    color: #fff;
}